<form (ngSubmit)="SubmitForm(searchform.form)" #searchform="ngForm" (keydown)="EnterSubmit($event, searchform.form)" name="searchformbox" >
    <input type="text" class="form-control search" ngModel #searchtext="ngModel" name="searchbox" placeholder="Filter..." [(ngModel)]="filter" />
    <button class="btn btn-primary" type="submit" name="searchbtn" >
        Search
    </button>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Number</th>
            <th scope="col">Description</th>
            <th scope="col">Module</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let step of steps">
            <td>{{ step.number }}</td>
            <td>{{ step.description }}</td>
            <td>{{ step.module }}</td>
        </tr>
    </tbody>
</table>