<form (ngSubmit)="SubmitForm(searchform.form)" #searchform="ngForm" (keydown)="EnterSubmit($event, searchform.form)"
    class="form-inline" name="searchformbox">
    <div class="form-group">
        <label class="sr-only" for="searchtext">Search text</label>
        <input id="searchtext" type="text" class="form-control margin" ngModel #searchtext="ngModel" name="searchbox"
            placeholder="Filter..." [(ngModel)]="filter" />
        <button class="btn btn-outline-dark margin" type="submit" name="searchbtn" id="searchbtn">
            Search
        </button>
    </div>
    <button (click)="newStep(content)" type="button" class="ml-auto btn btn-success margin" name="newbtn" id="newbtn">
        &plus; Add
    </button>
</form>


<table class="table table-striped lower">
  <div id="overlay" *ngIf="loadingTable">
      <span id="loadtext"> <i class="fa fa-refresh fa-spin" aria-hidden="true"></i> Loading...</span>
  </div>
    <thead>
        <tr>
            <th scope="col">Number</th>
            <th scope="col">Description</th>
            <th scope="col">Module</th>
        </tr>
    </thead>
    <tbody  *ngIf="!loadingTable">
        <tr *ngFor="let step of steps" (click)="editStep(step, content)">
            <td>{{ step.number }}</td>
            <td>{{ step.description }}</td>
            <td>{{ step.module }}</td>
        </tr>
    </tbody>
</table>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{modalText}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-step-detail #stepdetail [inputStep]="selectedStep" [calledModal]="true"></app-step-detail>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="stepdetail.saveStep();c('Save click');refreshSteps()">Save</button>
        <button type="button" class="btn btn-secondary" (click)="d('Close click');refreshSteps()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="stepdetail.deleteStep();c('Delete click');refreshSteps()">Delete</button>
    </div>
</ng-template>