<form (ngSubmit)="SubmitForm(searchform.form)" #searchform="ngForm" (keydown)="EnterSubmit($event, searchform.form)"
    class="form-inline" name="searchformbox">
    <div class="form-group">
        <label class="sr-only" for="searchtext">Search text</label>
        <input id="searchtext" type="text" class="form-control input-xlarge" ngModel #searchtext="ngModel"
            name="searchbox" placeholder="Filter..." [(ngModel)]="filter" />
        <button class="btn" type="submit" name="searchbtn">
            Search
        </button>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Number</th>
            <th scope="col">Description</th>
            <th scope="col">Module</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let step of steps">
            <td>{{ step.number }}</td>
            <td>{{ step.description }}</td>
            <td>{{ step.module }}</td>
        </tr>
    </tbody>
</table>