<nav class="navbar navbar-expand-md navbar-light bg-light">
  <span class="navbar-brand">Shopfloor NG</span>
  <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button">
          Modules
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">List</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Settings</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">API</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>