<form>
  <div class="form-group">
    <label for="inputNumber">Number</label>
    <input name="number" type="number" class="form-control" id="inputNumber" placeholder="Step number" [(ngModel)]="step.number">
  </div>
  <div class="form-group">
    <label for="inputDesc">Description</label>
    <input name="description" type="text" class="form-control" classform-Description id="inputDesc" placeholder="Description" [(ngModel)]="step.description">
  </div>
  <div class="form-group">
    <label for="inputMedia">Media Link</label>
    <input class="form-control" type="link" name="media" id="inputMedia" placeholder="https://example.com/media/image.png">
    <p class="help-block">URL to media (image, video)</p>
  </div>
  <button type="submit" class="btn btn-primary hidebtn">Save</button>
</form>